
  <section class="hero is-danger is-narrow">

  <!-- Hero head: will stick at the top -->

  <div class="hero-head">

    <nav class="navbar">

      <div class="container">

        <div id="navbarMenuHeroA" class="navbar-menu">

          <div class="navbar-end">

            <%= link_to "Create New Entry ",new_entry_path,class: "button is-success"%>

          </div>

        </div>

      </div>

    </nav>

  </div>



  <!-- Hero content: will be in the middle -->

  <div class="hero-body">

    <div class="container has-text-centered">

      <p class="title">

        <h1 style="font-size:50px">Food Log</h1>

      </p>

      <p class="subtitle">

      </p>

    </div>

  </div>



  <!-- Hero footer: will stick at the bottom -->

</section>